body{
    background-color: #C0C0C0;
}

p{
    /* margin: 5px; */
    font-size: large;
}

.form-style-1{
    width: 45px;
    /* height: 30px; */
    border-radius: 5px;
}

.form-width-200{
    width: 210px;
}
